:root {
  --primary-color: oklch(35.265% 0.15716 261.488);
  --secondary-color: oklch(43.941% 0.13052 251.753);
  --black: oklch(0% 0 0);
  --white: oklch(100% 0.00011 271.152);
  --gray: oklch(48.55% 0.00006 271.152);
  --light-gray: oklch(91.887% 0.0001 271.152);
  --light-blue: rgb(245, 242, 255);
  --tomato-color: oklch(68.736% 0.19124 32.205);
  --border-radius: 8px;
  --box-shadow-sm: 0 10px 15px rgba(0, 0, 0, 0.3);
  --box-shadow-md: 0 15px 25px rgba(0, 0, 0, 0.3);
  --box-shadow-lg: 0 20px 30px rgba(0, 0, 0, 0.3);
  --transition: .3s all ease;
  --text-color: oklch(51.028% 0.00006 271.152);
  --text-color-light: oklch(33.289% 0.00004 271.152);
}

@font-face {
  font-family: 'FiraSans';
  src: url('fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'FiraSans';
}

.wrapper {
  background: var(--light-gray);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

header {
  background: var(--white);
  grid-column: 2/3;
  grid-row: 1;
}

aside {
  background: var(--primary-color);
  display: grid;
  grid-row: 1/4;
  padding: 50px;
  gap: 30px;
}

main {
display: grid;
grid-template-columns: 3fr 1fr;
gap: 15px;
padding: 20px;
align-items: start;

}

.topnav,
.bottom-nav {
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
  padding: 20px 30px;
}

.topnav-left,
.bottom-nav-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
  width: 100%;
}

#search {
  width: 100%;
  max-width: 700px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background: var(--light-gray);
}
#search:focus{
  border: none;
  outline: .4px solid var(--gray);
}

.topnav-right,
.bottom-nav-right {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-self: end;
  gap: 20px;
}

.topnav img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: var(--transition);
}

 .bottom-nav img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: var(--transition);
}
img:hover{
  transform: scale(1.2);
}

.bottom-nav-right .btn{
  background: var(--primary-color);
  padding: 10px 30px;
  border: none;
  color: var(--white);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
.bottom-nav-right .btn:hover{
  transform: translateY(-2px);
  background: var(--secondary-color);
}
.logo a{
  color: var(--white);
  font-size: 1.5rem;
  margin-left: 10px;
  font-family: 'Roboto';
  text-decoration: none;
  transition: var(--transition);
}
.logo a:hover{
  transform: translateY(-2px);
}
.logo svg{
  width: 48px;
  height: 48px;
}
.aside-content a,
.aside-settings a{
  color: var(--light-gray);
  font-size: 1.2rem;
  text-decoration: none;
  transition: var(--transition);
}
.aside-content a:hover,
.aside-settings a:hover,
.logout a:hover{
  padding-left: .5rem;
  color: var(--gray);
}
.logo,
.aside-content,
.aside-settings,
.logout {
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  gap: 15px;
}
.logout a{
 text-decoration: none;
 color: var(--white);
 font-size: 1.2rem;
 transition: var(--transition);
}
.projects-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.right-section{
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  align-content: start; 
}
.card-container{
  height: 200px;
  background: var(--white);
  padding: 20px;
  border-left: 5px solid var(--gray);
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius);
  resize: both;
  overflow: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
}
.second-column p{
  font-size: .625rem;
}
.card-container h6{
  color: var(--secondary-color);
}
.card-container h4{
  color: var(--primary-color);
}
.card-container p{
  color: var(--text-color-light);
  margin-bottom: 10px;
}
.card-container svg{
  height: 24px;
  width: 24px;
  margin: 5px;
  cursor: pointer;
  transition: var(--transition);
}
.container-svg{
  justify-self: end;
}
.card-container svg:hover{
  transform: scale(1.5);
}
.third-column img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: .2px solid var(--secondary-color);
  transition: var(--transition);
}
.third-column-profile{
  display: grid;
  grid-template-columns: 28px 1fr;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
}


